.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

.login-left {
  flex: 1;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-box {
  width: 100%;
  max-width: 380px;
}

.login-right {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.login-image {
  width: 98%;
  max-width: 96%;
}

@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-right {
    display: none;
  }
  .login-left {
    width: 100%;
  }
}
